@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #e2e8f0; /* Keep the border */
}
